<div class="cards-container">
    <mat-card>
        <mat-card-title>{{lang.example.title}}</mat-card-title>
        <mat-card-header>
            {{lang.example.text1}}
        </mat-card-header>
        <br>
        <mat-card-header>
            {{lang.example.text2}}        
        </mat-card-header>
        <br>
        <img style="width: 70%;" src="/assets/example_makecode.png" alt="Eksempelkode, makecode">

        <br>
        <mat-card-header>
            {{lang.example.text3}}
        </mat-card-header>
        <br>
        <br>
        <mat-card-header>
            {{lang.example.text4}}
        </mat-card-header>
        <br>
        <img style="width: 70%;" src="/assets/example_plot.png" alt="Last ned data">
    </mat-card>
    
    <mat-card>
        <mat-card-title>{{lang.example.titlePython}}</mat-card-title>
        <mat-card-header>
            <span>
                {{lang.example.text1Python}}
                <span>&nbsp;</span>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/amundas/python-example-ubitlogger/blob/master/micropython_example.py">{{lang.example.here}}</a>
                <span>.&nbsp;</span>
                {{lang.example.text2Python}}
            </span>
        </mat-card-header>
    </mat-card>
</div>