<div class="cards-container">
    <mat-card>
        <mat-card-title>{{lang.info.card1Title}}</mat-card-title>
 
        <mat-card-content>
            <div class="card-title2">{{lang.info.card1Title2}}</div>
            {{lang.info.card1Text1}}
            <a href="https://microbit.org/guide/firmware/">https://microbit.org/guide/firmware/</a>
            <br>
            <br>
            <div class="card-title2">{{lang.info.card1Title3}}</div>
            {{lang.info.card1Text2}}
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>{{lang.info.card2Title}}</mat-card-title>
        <mat-card-content>
            <div class="card-title2">{{lang.info.card2Title2}}</div>
            {{lang.info.card2Text1}}
            <br>
            <br>
            <div class="card-title2">{{lang.info.card2Title3}}</div>
            {{lang.info.card2Text2}}
            <a
                href="https://iotandelectronics.wordpress.com/2016/10/07/how-to-calculate-distance-from-the-rssi-value-of-the-ble-beacon/">{{lang.info.here}}</a>.
            <br>
            <br>
            <div class="card-title2">{{lang.info.card2Title4}}</div>
                {{lang.info.card2Text3}} 
                <a href="https://ukbaz.github.io/howto/ubit_radio.html">{{lang.info.here}}</a>.
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>{{lang.info.card3Title}}</mat-card-title>
        {{lang.info.card3Text1}}
        LINK HERE SOON, 
        {{lang.info.card3Text2}} 
        <a href="mailto: amund.askeland@ntnu.no">amund.askeland@ntnu.no</a>
    </mat-card>

</div>