mat-card {
    margin-top: 1em;
    max-width: 90vw;
    min-width: 60vw;
}
.channel-section {
    display: block;
    justify-content: space-between;
    flex-flow: row;
    align-content: center;
    align-items: center;
}