<div class="cards-container">

    <mat-card *ngIf="supportsSerial;else noSerial">
        <mat-card-title>{{lang.identify.findId}}</mat-card-title>
        <div class="channel-selection">
            <span>{{lang.identify.radioGroup}}: </span>
            <mat-form-field style="width: 50px;">
                <input matInput style="text-align: right;" type="number" min="0" max="255" [(ngModel)]="channel"
                    (change)="onChannelChange()">
            </mat-form-field>
            <span>{{lang.identify.stopFirst}}:</span>
            <mat-slide-toggle [disabled]="scanning" style="margin-left: 10px; margin-right: 15px;"
                [(ngModel)]="stopOnFirst">
            </mat-slide-toggle>
        </div>
        <div style="font-size: 20px;">{{lang.identify.foundId}}: {{lastId}}</div>
        <mat-progress-bar *ngIf="scanning" mode="indeterminate"></mat-progress-bar>
        <mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-raised-button color="accent"
                    (click)="toggleConnection()">{{serialService.connected ? lang.identify.buttonDisconnect : lang.identify.buttonConnect}}</button>
                <button mat-raised-button color="accent" (click)="toggleScan()"
                    [disabled]="!(serialService.connected || scanning)">{{scanning ? lang.identify.buttonStopScan : lang.identify.buttonScan}}</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    <ng-template #noSerial>
        <mat-card>
            <mat-card-title>{{lang.monitor.unsupportedTitle}}</mat-card-title>
            <mat-card-content>
                <i>
                    {{lang.monitor.unsupportedExplanation}}<br>
                    chrome://flags/#enable-experimental-web-platform-features
                </i>
            </mat-card-content>
        </mat-card>
    </ng-template>

</div>