<div class="cards-container">
    <mat-card>
        <mat-card-title>{{lang.setup.receiverSetup}}</mat-card-title>
        <div>{{lang.setup.text1}}<a href="https://www.nordicsemi.com/Software-and-Tools/Development-Kits/nRF51-Dongle">nRF51 dongle</a>
            {{lang.setup.text2}} <a href="https://www.nordicsemi.com/Software-and-Tools/Development-Kits/nRF52840-Dongle">nRF52 dongle</a>{{lang.setup.text3}}<a href="https://www.nordicsemi.com/Software-and-Tools/Development-Kits/nRF52-DK">nRF52 development kit</a>. 
            {{lang.setup.text4}}
        </div>
        <br>
        <div>
            {{lang.setup.text5}} <a href="https://www.nordicsemi.com/Software-and-tools/Development-Tools/nRF-Connect-for-desktop">nRF Connect</a>{{lang.setup.text6}}
        </div>
        <span>{{lang.setup.receiver}}:</span> 
        <mat-form-field style="width: 100px; margin-right: 10px;">
            <mat-select style="margin-left: 10px;" [(value)]="selectedFile.fileName">
                    <mat-option *ngFor="let file of files" [value]="file.fileName">{{file.displayName}}</mat-option>
                </mat-select>
            </mat-form-field>
        <mat-card-content>
            <mat-card-actions style="text-align: center;">
                   <a href="{{'/assets/firmware/' + selectedFile.fileName}}" download #downloadAnchor></a> 
                   <button (click)="downloadAnchor.click()" mat-raised-button color="accent">{{lang.setup.buttonDownload}}</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>