
app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
mat-sidenav-container.mat-drawer-container {
    overflow: auto;
    flex-grow: 1;
}

/* Menu button stays focuses when clicking link, this is a fix for that
ref: https://github.com/angular/components/issues/10233 */
.mat-button-focus-overlay {
    background-color: transparent!important;
}

.gradient-background {
    background-color: rgba(247,251,252,1);
    background-image: linear-gradient(to bottom right, rgb(218, 218, 218),rgb(141, 160, 165));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cards-container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
