<div class="cards-container">
    <div *ngIf="supportsSerial;else noSerial">

        <mat-card>
            <mat-card-title>{{lang.monitor.cardLogging}}</mat-card-title>
            <div class="channel-selection">
                <span>{{lang.monitor.radioGroup}}: </span>
                <mat-form-field style="width: 50px;">
                    <input matInput style="text-align: right;" type="number" min="0" max="255" [(ngModel)]="channel"
                        (change)="onChannelChange()">
                </mat-form-field>
                <span>{{lang.monitor.receivedCount}}: {{messageCount}}</span>
            </div>

            <mat-card-content>
                <h3>{{lang.monitor.lastMessage}}:</h3>
                <div>{{lang.monitor.timestamp}}: {{lastMessage ? lastMessage.timestamp : ''}}</div>
                <div>{{lang.monitor.messageContent}}: {{lastMessage ? lastMessage.key + '=' + lastMessage.data : ''}}</div>
                <div>{{lang.monitor.rssi}}: {{lastMessage ? lastMessage.rssi : ''}}</div>
                <div>{{lang.monitor.id}}: {{lastMessage ? lastMessage.microBitId : ''}}</div>

                <mat-card-actions style="text-align: center;">
                    <button mat-raised-button color="accent"
                        (click)="toggleConnection()">{{serialService.connected ? lang.monitor.buttonDisconnect : lang.monitor.buttonConnect}}</button>
                    <button mat-raised-button color="accent" (click)="clearData()"
                        [disabled]="receivedPackets.length == 0">{{lang.monitor.buttonClearData}}</button>
                </mat-card-actions>
            </mat-card-content>

        </mat-card>
        <mat-card>
            <mat-card-title>{{lang.monitor.cardDownload}}</mat-card-title>
            <div class="channel-selection">
                <span>{{lang.monitor.id}}: </span>
                <mat-form-field style="width: 100px; margin-right: 10px;">
                    <mat-select [(value)]="idToDownload">
                        <mat-option value='All'>{{lang.monitor.all}}</mat-option>
                        <mat-option *ngFor="let id of seenIds" [value]="id">{{id}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span>{{lang.monitor.includeRaw}}:</span>
                <mat-slide-toggle style="margin-left: 10px; margin-right: 15px;" [(ngModel)]="includeRawhex">
                </mat-slide-toggle>
                <span>{{lang.monitor.includeRssi}}:</span>
                <mat-slide-toggle style="margin-left: 10px; margin-right: 15px;" [(ngModel)]="includeRSSI">
                </mat-slide-toggle>
            </div>

            <mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-raised-button color="accent" (click)="saveFile()"
                        [disabled]="receivedPackets.length == 0">{{lang.monitor.buttonSave}}</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>{{lang.monitor.cardPlot}}</mat-card-title>
            <span>{{lang.monitor.idToPlot}}: </span>
            <mat-form-field style="width: 100px; margin-right: 10px;">
                <mat-select [disabled]="livePlotStarted" [(value)]="idToPlot">
                    <mat-option value='All'>{{lang.monitor.all}}</mat-option>
                    <mat-option *ngFor="let id of seenIds" [value]="id">{{id}}</mat-option>
                </mat-select>
            </mat-form-field>
            <span>{{lang.monitor.keyToPlot}}: </span>
            <mat-form-field style="width: 100px; margin-right: 10px;">
                <mat-select [disabled]="livePlotStarted || idToPlot==='All'" [(value)]="keyToPlot">
                    <mat-option *ngFor="let key of seenKeys[idToPlot]" [value]="key">{{key}}</mat-option>
                </mat-select>
            </mat-form-field>
            <span>{{lang.monitor.drawLine}}:</span>
            <mat-slide-toggle style="margin-left: 10px; margin-right: 15px;" [(ngModel)]="drawLine">
            </mat-slide-toggle>
            <div style="display: block">
                <canvas #chartCanvas></canvas>
            </div>
            <mat-card-content>
                <div class="plot-buttons">
                    <button class="plot-button" mat-raised-button color="accent" (click)="plotData(false)"
                        [disabled]="this.receivedPackets.length === 0 || !idToPlot || (!keyToPlot && idToPlot !== 'All') || livePlotStarted">{{lang.monitor.buttonPlot}}</button>
                    <button class="plot-button" mat-raised-button color="accent" (click)="plotData(true)"
                        [disabled]="this.receivedPackets.length === 0 || !idToPlot || (!serialService.connected && !livePlotStarted) || (!keyToPlot && idToPlot !== 'All') ">{{livePlotStarted ? lang.monitor.buttonLiveStop : lang.monitor.buttonLivePlot}}</button>
                    <button class="plot-button" mat-raised-button color="accent" (click)="clearPlot()"
                        [disabled]="this.receivedPackets.length === 0 || this.livePlotStarted">{{lang.monitor.buttonClearPlot}}</button>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <ng-template #noSerial>
        <mat-card>
            <mat-card-title>{{lang.monitor.unsupportedTitle}}</mat-card-title>
            <mat-card-content>
                <i>
                    {{lang.monitor.unsupportedExplanation}}<br>
                    chrome://flags/#enable-experimental-web-platform-features
                </i>
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>