.channel-section {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-content: center;
    align-items: center;
}

.plot-buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.plot-button {
    margin: 4px;
}